r-type_server
r-type_client
build
.vscode
*.manifest
cmake-build-release
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CMakeUserPresets.json
Makefile
r-type_library.dir
x64*
*vcxproj*
*.sln
*.dir
executable
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
