r-type_server
r-type_client
build
cmake-build-release
CMakeFiles
CMakeCache.txt
debug
CMakeUserPresets.json
settings.json
*.manifest
*_autogen
*.cmake
Makefile
log*
cmake
x64
_deps
jump.wav

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
